body, h1, h2, h3, h4, h5, h6, p, li, ol, ul, blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  margin: 0;
  padding: 0; }

a {
  color: #8f4444;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, header li, #days-missing, .h1, .h2 {
  font-family: League Gothic;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.7em;
  color: #222222;
  letter-spacing: -1px; }

h2 {
  color: #bbbbbb; }

p, li {
  color: #444444;
  line-height: 1.3; }

header {
  display: block;
  height: 210px;
  padding-top: 30px;
  background: #8f4444 url("/images/header.png") repeat-x top;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 5px 10px; }
  header img {
    position: absolute;
    left: -64px;
    top: 0;
    z-index: 1; }
  header a {
    color: white; }
    header a:after {
      content: " \2023"; }
  header h1, header li {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
    line-height: 1.7; }
  header ul {
    float: right;
    margin-top: -40px;
    padding-left: 45px;
    list-style: none;
    background: url("/images/venue-icons.png") no-repeat 0 0; }

footer {
  display: block;
  clear: left;
  padding: 1em;
  border-top: 1px solid #dddddd;
  text-align: center; }

input[type='submit'], .button {
  background: #953539;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
  border: 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 3px 5px;
  padding: 0.5em 1em;
  font: bold 1em "Helvetica Neue";
  color: white;
  border-radius: 3px;
  margin-bottom: 1em; }

.speaker, #new_talk {
  width: 450px;
  margin-right: 30px;
  margin-bottom: 1em;
  float: left; }
  .speaker img, #new_talk img {
    float: left;
    margin: 0 28px 30px 0;
    border: 1px solid #dddddd;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px;
    background: white; }

.h1 {
  color: #bbbbbb; }

.flash {
  clear: both;
  padding: 1em;
  margin-bottom: 1em;
  background: #dddddd;
  color: #999999;
  border-radius: 3px;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 3px 5px; }
  .flash.notice {
    color: #339933;
    background-color: #ddeecc; }
  .flash.alert {
    color: #993333;
    background-color: #ffeeee; }

#bucket, header > div {
  width: 960px;
  margin: 0 auto; }

#main {
  margin-top: 30px;
  position: relative;
  z-index: 2; }

#days-missing {
  font-size: 2.5em;
  line-height: 1.5;
  background: url("/images/glow.png") no-repeat 0 0;
  margin: -150px auto 60px;
  padding-top: 68px;
  padding-left: 40px;
  width: 425px; }
  #days-missing span {
    color: white; }
  #days-missing img {
    display: block;
    float: left;
    margin: 0 40px; }
  #days-missing a {
    background: url("/images/twitter.png") no-repeat right 6px;
    padding-right: 52px; }

#new_talk input[type='text'], #new_talk textarea {
  width: 230px;
  border: 0;
  background: #eeeeee;
  padding: 5px; }

#patrocinios img {
  opacity: 0.15;
  -webkit-transition-duration: 0.4s;
  margin-right: 2em; }
  #patrocinios img:hover {
    opacity: 0.7; }

#about {
  float: left;
  width: 450px;
  margin-right: 30px;
  margin-bottom: 1em; }
  #about p {
    margin-bottom: 1em; }

ul#admissions {
  list-style: none; }
  ul#admissions li {
    float: left; }
  ul#admissions .confirmed img {
    background-color: #339933; }
  ul#admissions img {
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background: #eeeeee;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px; }
    ul#admissions img:hover {
      background: #8f4444; }

#confirm-admission {
  background: rgba(50, 255, 0, 0.2);
  margin: 2em 0;
  padding: 2em;
  font-size: 1;
  text-align: center;
  border-radius: 3px; }
  #confirm-admission input {
    background-color: #558833;
    font-size: 1.5em; }
  #confirm-admission p {
    font: 3em League Gothic;
    text-transform: uppercase;
    color: #558833; }

@media screen and (max-width: 480px) {
  #bucket, header > div {
    width: auto;
    margin: 0;
    padding: 0 1em; }

  #about, header ul {
    float: none;
    width: auto; }

  #about {
    margin-right: 0; }

  header ul, #new_talk {
    margin: 0; }

  #days-missing {
    padding-left: 0;
    text-align: center; }

  .speaker, #new_talk, #days-missing {
    width: auto; }
    .speaker img, #new_talk img, #days-missing img {
      width: 60px; }

  #days-missing img, #new_talk img {
    display: none; } }
