-if session[:user] && !session[:user][:confirmed]
  #confirm-admission
    %p Confirmas que apareces no Rubynorte no dia 21?
    -form_for @user do |f|
      =f.hidden_field :confirmed, :value => 1
      =f.submit 'Confirmo!'


#splash
  .half
    %h1 Ruby, Rails, Sinatra... em Portugal.

    %p
      Rubynorte é o encontro para todos aqueles que querem aprender mais sobre
      a linguagem de programação Ruby.
  
  .half=image_tag "/images/rn1.png",:alt => "1 encontro Ruby Norte"
  
#about

  %h2
    No último evento tivemos inscritas
    ="#{pluralize @admissions.count, "pessoa"},"
    =@confirmed_count
    confirmadas.

  %ul#admissions
    -@admissions.each do |admission|
      %li{:class => admission.confirmed ? 'confirmed' : '' }
        =link_to image_tag(admission.image_url, :width => '40'),"http://twitter.com/#{admission.screen_name}",:title => admission.name

-@talks.each do |talk|
  .speaker
    %img(width='180' height='135')
    %h1=talk.title
    %h2=talk.person
    %p=talk.summary

