%p#days-missing
  %img(src='/images/clock.png')
  %span
    Faltam
    =((Time.gm(2011,05,21) - Time.now ) / 24 / 3600).to_i
    dias,
  %br
  =link_to "inscreve-te!", '/auth/twitter'

#about
  :markdown
    O que é o Rubynorte?
    ====================

    Rubynorte é o encontro para todos aqueles que querem aprender
    mais sobre a linguagem de programação Ruby. Todos estão
    convidados a participar.

    O próximo evento será no dia *21 de Maio de 2011* às 9h30 em
    Vila Nova de Gaia, no #{link_to "Afurada Valley", map_path, :rel => 'fancybox'}.
    
    ## Já estão inscritas #{pluralize @admissions.count, "pessoa"}.
  
  %ul#admissions
    -@admissions.each do |admission|
      %li
        =link_to image_tag(admission.image_url),"http://twitter.com/#{admission.screen_name}",:title => admission.name

=form_for @talk, :class => 'speaker' do |f|
  %img(width='180' height='135')
  %p=f.text_field :person, :value => 'Tu? (escreve aqui o teu nome)', :class => 'h1'
  %p=f.text_field :title, :value => 'Sobre que tópico queres falar?', :class => 'h2'
  %p=f.text_area :summary, :placeholder => 'Escreve uma descrição que atraia a comunidade. Não te esqueças de que são eles que te vêm ouvir!', :rows => 3, :cols => 30
  %p=f.submit 'Submeter apresentação'

-@talks.each do |talk|
  .speaker
    %img(width='180' height='135')
    %h1=talk.title
    %h2=talk.person
    %p=talk.summary

