%p#days-missing
  %span
    Faltam
    =((Time.gm(2011,05,14) - Time.now ) / 24 / 3600).to_i
    dias,
  %br
  inscreve-te!

-@talks.each do |talk|
  .speaker
    %img(width='180' height='135')
    %h1=talk.title
    %h2=talk.person
    %p=talk.summary

=form_for @talk, :class => 'speaker' do |f|
  %img(width='180' height='135')
  %p=f.text_field :person, :value => 'Tu?', :class => 'h1'
  %p=f.text_field :title, :value => 'Sobre que tópico queres falar?', :class => 'h2'
  %p=f.text_area :summary, :placeholder => 'Escreve uma descrição que atraia a comunidade. Não te esqueças de que são eles que te vêm ouvir!', :rows => 3, :cols => 30
  %p=f.submit 'Submeter apresentação'
