!!!
%html
  %head
    %title Rubynorte - 14 de Maio de 2011
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'fancybox/fancybox'
    = javascript_include_tag :defaults
  %body
    %header
      %div
        %img(src='/images/logo-splash.png')
        %h1 Ruby Norte
        %ul
          %li 14 de Maio de 2011, 09:30
          %li=link_to "Geekslab, Afurada Valley, Gaia", map_path, :rel => 'fancybox'
      =content_tag :div, raw(notice), :class => 'flash notice' if notice
      =content_tag :div, raw(alert), :class => 'flash alert' if alert
    #bucket
      #main= yield
      %footer
        %h2 Patrocínios
        %p#patrocinios
          =link_to image_tag('/images/sponsors/muchbeta.png'), "http://muchbeta.com", :title => "Muchbeta - Networkin' Progress"
        %p
          Segue-nos no Twitter pela hash
          =link_to "#rubynorte", "https://twitter.com/#search?q=rubynorte"
          !
    :erb
      <script type="text/javascript" src="http://use.typekit.com/wxh6phh.js"></script>
      <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
